# Machine-specific git config overrides
# Copy to ~/.gitconfig.local

# [user]
#     name = Your Name
#     email = you@example.com
#     username = your-github-username

# macOS
# [credential]
#     helper = osxkeychain
# [core]
#     editor = code
#     sshCommand = ssh -i ~/.ssh/id_ed25519 -o AddKeysToAgent=yes -o UseKeychain=yes
# [diff]
#     tool = code
# [merge]
#     tool = code

# linux
# [credential]
#     helper = store
# [core]
#     editor = nano
#     sshCommand = ssh -i ~/.ssh/id_ed25519 -o AddKeysToAgent=yes
# [diff]
#     tool = vimdiff
# [merge]
#     tool = vimdiff

# --- Optional signing setup ---
# [user]
#     signingkey = ssh-ed25519 [AAAA...]
# [commit]
#     gpgsign = true
# [gpg]
#     format = ssh
# [gpg "ssh"]
#     program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign # macOS/1password
#     # program = /usr/bin/gpg # linux/gpg
