# Machine-specific git config overrides
# Copy to ~/.gitconfig.local

# [user]
#     name = Your Name
#     email = you@example.com
#     username = your-github-username

# macOS
# [credential]
#     helper = osxkeychain
# [core]
#     editor = code
#     sshCommand = ssh -i ~/.ssh/id_ed25519 -o AddKeysToAgent=yes -o UseKeychain=yes
# [diff]
#     tool = code
# [merge]
#     tool = code

# linux
# [credential]
#     helper = store
# [core]
#     editor = nano
#     pager = delta
#     sshCommand = ssh -i ~/.ssh/id_ed25519 -o AddKeysToAgent=yes
# [interactive]
#     diffFilter = delta --color-only
# [delta]
#     navigate = true
#     true-color = always
#     line-numbers = true
#     side-by-side = true
# [merge]
#     conflictStyle = zdiff3
#     tool = vimdiff
# [diff]
#     colorMoved = default
#     tool = vimdiff

# --- Optional signing setup ---
# [user]
#     signingkey = ssh-ed25519 [AAAA...]
# [commit]
#     gpgsign = true
# [gpg]
#     format = ssh
# [gpg "ssh"]
#     required for macOS only. linux will use ssh-keygen
#     program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign 
