{
    "terminal.external.osxExec": "Ghostty.app",
    "terminal.integrated.shell.osx": "/bin/zsh",
    "terminal.integrated.cursorStyle": "line",
    "terminal.integrated.cursorBlinking": true,
    "window.zoomLevel": 0,
    "editor.fontSize": 12,
    "editor.lineHeight": 25,
    "editor.tabSize": 4,
    "editor.insertSpaces": true,
    "editor.tabCompletion": "onlySnippets",
    "editor.trimAutoWhitespace": true,
    "editor.roundedSelection": true,
    "editor.autoClosingBrackets": "always",
    "editor.formatOnType": true,
    "editor.quickSuggestions": {
        "other": true,
        "comments": false,
        "strings": false
    },
    "editor.mouseWheelZoom": true,
    "editor.minimap.enabled": true,
    "editor.minimap.side": "right",
    "files.trimTrailingWhitespace": true,
    "files.insertFinalNewline": true,
    "window.restoreWindows": "one",
    "workbench.editor.tabSizing": "shrink",
    "vsicons.projectDetection.autoReload": true,
    "diffEditor.ignoreTrimWhitespace": true
}
