<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>KeepAlive</key>
  <dict>
    <key>SuccessfulExit</key>
    <false />
  </dict>
  <key>Label</key>
  <string>local.nzbhydra2</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/bin/python</string>
    <string>/usr/local/opt/nzbhydra2/nzbhydra2wrapper.py</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
</dict>
</plist>
