{
    "sourceDir": "{{ .chezmoi.sourceDir }}",
    "color": true,
    "diff": {
        "command": "difft"
    },
    "format": "json",
    "mode": "file",
    "progress": true,
    "verbose": false
}
