{
    "sourceDir": "{{ .chezmoi.sourceDir }}",
    "color": true,
    "diff": {
        "pager": "delta",
        "pagerArgs": [
            "--color-only"
        ]
    },
    "format": "json",
    "mode": "file",
    "progress": true,
    "verbose": true
}
